{{ define "main" }}

    <div class="container">

        <header>
        <h1 class="blue-text">{{ .Title }}</h1>
        <hr>
    </header>

        
        <p class="flow-text">{{ .Content }} </p>


       


       
         
      
        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="10"></div>

       


      

{{ end }}

{{ define "footer" }}

    <hr>

    <div class="row">

            <div class="col s4">
                <h5>Donate Blood to needy People in Nepal</h5>
               <p> <a href="https://bloodgroupnepal.blogspot.com"><i class="fa fa-hospital-o fa-5x"></i></a>
               </p>
            </div>
            <div class="col s4">
              <h5>Talk about this website with the website developer</h5>
              <p> <a href="mailt:avashjhaymail@gmail.com"><i class="fa fa-book fa-5x"></i></a>
              </p>
            </div>
            <div class="col s4">
                <h5>Any suggestion and feedback to this site is highly appreciated ! Cheers ! </h5>
                <i class="fa fa-beer fa-3x"></i></a><i class="fa fa-beer fa-2x"></i></a>
                
          
            </div>
      
          </div>
{{ end}}







